
@page "/luis"

<PageTitle>About me</PageTitle>
<h3>Sobre Luis Miguel</h3>
<hr />

<p> <strong>Nome:</strong>Luis Miguel Gonçalves Machado</p> 
<hr />
<p> <strong>Email:</strong> luis05miguel04@gmail.com</p>
<hr />
<p> <strong>Endereço:</strong> R. Manoel Franco Bairro: Nova Brasília </p>
<hr />
<p> <strong>Sobre:</strong> Técnico em Informática; conhecimento em mídias digitais e equipamentos de filmagem;  </p>
<hr />


@code {

}
