@page "/tiago"



<div style="background-color: white;">


    <div style="display: flex; align-items: center;">
        <img src="fotoperfil.jfif" alt="Alternate Text" style="max-width: 150px; border-radius:  100px; margin-right: 20px;" />
        <h1><b style="color: indigo">Tiago Francisco Moreira</b></h1>


    </div>
    <hr style="border: 2px solid black;"/>

    <p> </p>

    <div>

        <div style="border: 2px solid purple; border-radius: 25px">
            <h2 style="margin-left: 20px;" >Contato</h2>
            <p style="margin-left: 20px;" >(69) 99319-8412</p>
            <p style="margin-left: 20px;" >tiagoojipa@gmail.com</p>

        </div>

        <p> </p>

        <div style="border: 2px solid purple; border-radius: 25px">
            <h2 style="margin-left: 20px;">Formações</h2>
            <p style="margin-left: 20px;">Técnico em Informática - IFRO</p>
            <p style="margin-left: 20px;">Curso de Photoshop - Hotmart</p>
            <p style="margin-left: 20px;">Designer na Prática - Hotmart</p>

        </div>

        <p> </p>

        <div style="border: 2px solid purple; border-radius: 25px">
            <h2 style="margin-left: 20px;">Habilidades</h2>
            <p style="margin-left: 20px;">Designer Gráfico</p>
            <p style="margin-left: 20px;">Lógica de Programação</p>
            <p style="margin-left: 20px;">HTML CSS e JS</p>

        </div>
        

    </div>



</div>


