
@page "/fillipereis"

<PageTitle>Curriculum</PageTitle>


<div style ="background-color: aliceblue; padding: 30px">
    <p> </p>
    <p> </p>
    <p> </p>



    <div style="display: flex; align-items: center">
        <h1>Fillipe reis Tomazelli</h1>
        <p></p>
    </div>

    <p>------------------------------------------------------------------------------------------------------------</p>
    <p style="font-size: 12px">Responsável: Zilcleber Tomazelli</p>
    <p style="font-size: 12px">Idade: 16 anos</p>
    <p style="font-size: 12px">Situação: estudante e solteiro</p>
    <p>------------------------------------------------------------------------------------------------------------</p>

    <div style="border: 3px solid black; border-radius: 20px;">
        <p> </p>
        <h3> CONTATO </h3>
        <p>Telefone: (69) 9 9398-8349</p> 
        <p>e-mail: zelirtomazelliro@gmail.com</p>
    
    </div>

    <p> </p>

    <div style="border: 3px solid blue; border-radius: 20px;">
        <p> </p>
        <h3> FORMAÇÃO </h3>
        <h5>Cursando 3º ano Técninco integrado em informática</h5>
        <p>instituição: Instituto Federeal de Rondônia</p>
        <p>estágio: ADL informática</p>
        <p></p>

    </div>


    <p> </p>

    <div style="border: 3px solid black; border-radius: 20px;">
        <p> </p>
        <h3> Habilidades </h3>
        <h5>Linguas: Portugues(nativo), espanhol(iniciante), inglês(iniciante)</h5>
        <p>Músico: Teclado, violão, sanfona, pandeiro, surdo, cajon</p>
        <p>Menções: medalhas da OBMEP</p>

    </div>
    <p> </p>
    <p>Para mais informações consulte o dono do curriculo pelo contato de telefone. </p>


</div>

@code {

}
