@page "/sobre"

<PageTitle>Sobre</PageTitle>

<h1>Sobre</h1>

<h1>Parabéns! Você acessou a página sobre;)</h1>

<h4>Nome: Tiago F. Moreira oliveira</h4>
<h4>Idade: 18</h4>
<h4>Email: tiagoojipa@gmail.com</h4>
<h4>Data Nascimento: 24/04/2007</h4>
<h4>Esporte: Baska</h4>
<h4>Série: GOT</h4>
<h4>Jogo: Horizon Zero Dawn</h4>
<h4><b>Mensagem: Todos caem, mas apenas os fracos continuam no chão.</b></h4>